.summary-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.summary-card {
  padding: 20px;
  width: 150px;
  text-align: center;
}
.summary-income {
  color: green;
}

.summary-expenses {
  color: purple;
}

.summary-balance {
  color: #333;
}