#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.d-flex {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.button-btn {
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  flex: 1;
}
.expense-button {
  background-color: #9c3b97;
}

.income-button {
  background-color: #388033;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

input {
  padding: 0.75rem 1rem;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 0.5rem;
  font-family: inherit;
  transition: all 0.3s ease;
  flex: 1;
}

input::placeholder {
  color: #999;
  font-weight: 500;
}

input:focus {
  outline: none;
  border-color: #b3e5fc;
  background-color: #f0f8ff;
  border-color: #72c6f3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
